<% if !@photos.blank? %>
  <% for photo in @photos %>
    <%= link_to image_tag(photo.media_url), photo, :class => "photo" %>
  <% end %>
<% else %>
  
<% end %>

<h2>JSON</h2>
<pre>
  <%= JSON.pretty_generate @photos.as_json(:methods => Photo::FIELDS) %>
</pre>