// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo table th {text-align:left;vertical-align:top}
.photo table td {vertical-align: top;}
.photo table img {max-width:800px;}
.photo iframe {width: 100%; height: 300px;}
a.photo img {max-width:200px;}

@media print
{
  #header {display: none;}
  .photo { 
    page-break-inside:avoid;
  }
  .photo * { 
      page-break-after:avoid;
      page-break-before:avoid;
  }
}
